<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[SUBJECT]</title>
    </head>
    <body>
        <p style="font-size: 16px; text-align: center;">
            คุณ <span th:text="${name}"></span> ได้กำหนดให้คุณเป็น Coordinator ของระบบ Compliance System เพื่อจัดกลุ่มกฎหมายไปยัง Owner ที่เกี่ยวข้อง
        </p>
        <p style="font-size: 16px; text-align: center;">
            สามารถเข้าใช้งานระบบได้ที่
            <a href="https://compliance.mitrphol.com" target="_blank">Compliance System</a>
        </p>
        <p></p>
        <p style="font-size: 16px; text-align: center;">
            รายการกฎหมายที่ได้รับ Assign ให้จัดกลุ่มรายการทางกฎหมาย Owner
        </p>
        <table align="center" width="50%" style="border: 1px solid #333; border-collapse: collapse;">
            <tr bgcolor="#ccc">
                <td style="border: 1px solid #333; text-align: center;">จำนวน (รายการกฎหมาย)</td>
            </tr>
            <tr>
                <td style="border: 1px solid #333; text-align: center;"><span th:text="${amount}"></span></td>
            </tr>
        </table>
    </body>
</html>
