<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>[SUBJECT]</title>
    </head>

    <body>
        <p style="font-size: 16px; text-align: center;">
            มีรายการเอกสารถึงกำหนดต่ออายุ
        </p>
        <p style="font-size: 16px; text-align: center;">
            ท่านสามารถเข้าไปดูรายละเอียดได้ที่
            <a href="https://compliance.mitrphol.com" target="_blank">Compliance System</a>
        </p>
        <p></p>
        <br />
        <table align="center" width="75%" style="border: 1px solid #333; border-collapse: collapse;">
            <tr>
                <td bgcolor="#00ff44" style="border: 1px solid #333; text-align: center;">รายการ</td>
                <td bgcolor="#00ff44" style="border: 1px solid #333; text-align: center;">รายละเอียด</td>
            </tr>
            <tr>
                <td style="border: 1px solid #333; text-align: left;">หน่วยงาน</td>
                <td style="border: 1px solid #333; text-align: center;"><span th:text="${department}"></span></td>
            </tr>
            <tr>
                <td style="border: 1px solid #333; text-align: left;">กฎหมาย</td>
                <td style="border: 1px solid #333; text-align: center;"><span th:text="${legal_name}"></span></td>
            </tr>
            <tr>
                <td style="border: 1px solid #333; text-align: left;">หน้าที่ตามกฎหมาย</td>
                <td style="border: 1px solid #333; text-align: center;"><span th:utext="${legal_duty}"></span></td>
            </tr>
            <tr>
                <td style="border: 1px solid #333; text-align: left;">ชื่อเอกสาร</td>
                <td style="border: 1px solid #333; text-align: center;"><span th:text="${filename}"></span></td>
            </tr>
            <tr>
                <td style="border: 1px solid #333; text-align: left;">สถานะ</td>
                <td style="border: 1px solid #333; text-align: center;">ต่ออายุ</td>
            </tr>
            <tr>
                <td style="border: 1px solid #333; text-align: left;">วันที่เอกสารหมดอายุ</td>
                <td style="border: 1px solid #333; text-align: center;"><span th:text="${expireDate}"></span></td>
            </tr>
        </table>
    </body>
</html>
